.box {

  /*border: 2px dashed black;*/
  padding: 27px;
  margin: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  color: #696969;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 8%);
  width: 300px;
}


.todo-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.todo-header::before{
  content: " ";
  display: table;
  box-sizing: border-box;
}


.todo-title{
  float: left;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #393939;
}
.list-group {
  position: relative;
  z-index: 0;
  margin-bottom: 0;
  padding-top: 23px;
}

.list-group::before {
  content: " ";
  margin-left: 15px;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-top: 1px solid #eee;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 185px;
  height: 20px;
  border-radius: 2px;
  box-sizing: border-box;
}